.article {
  text-align: left;
  /* text-shadow: -.4px 0 black, 0 .4px black, .4px 0 black, 0 -.4px black; */
}
#p-tag {
  margin: 1.5rem auto;
  font-size: 1.15rem;
  letter-spacing: .02rem;
  text-indent: 2.5rem;
  font-family: 'Open Sans', sans-serif;
}

