.contact-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}


.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 2.5rem;
  margin-top: 2rem;
  background-color: #2c2c30;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}