

.paypal-container {
  margin-top: 2.4rem;
}

.paypal-link {
  text-decoration: none;
}

.paypal {
  position: relative;
  height: 4rem;
  width: 12rem;
  margin: auto 2rem;
  padding: auto;
  color: black;
  border-radius: .25rem;
  text-transform: uppercase;
  overflow:hidden;
  cursor: pointer;
  border: none;
  transition: transform 0.1s, box-shadow 0.1s;
  transition: .3s ease-in-out;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  .paypal:after {
    content: "";
    height: 1px;
    width: 260px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    animation: shadow 4s ease-in infinite;
  }
  
  @keyframes shadow {
    0% {
      opacity: 0;
      transform: scaleX(1);
      width: 1px;
      background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
    }
    10% {
      opacity: 1;
      transform: scaleX(1);
      transform: translateX(50px);
      width: 210px;
      background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
    }
    30% {
      opacity: 0;
      transform: scaleX(1);
      transform: translateX(260px);
      width: 1px;
      background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
    } 
    100% {
      opacity: 0;
      transform: scaleX(1);
      transform: translateX(260px);
      width: 1px;
      background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
    }
  }
  
  @keyframes shadow2 {
    0% {
    opacity: 0;
    transform: scaleX(1);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
    10% {
    opacity: 0;
    transform: scaleX(1);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
  20% {
    opacity: 1;
    transform: scaleX(1);
    transform: translateX(50px);
    width: 210px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
  40% {
    opacity: 0;
    transform: scaleX(1);
    transform: translateX(50px);
    width: 210px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
  100% {
    opacity: 0;
    transform: scaleX(1);
    transform: translateX(260px);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  } 
  }
  
  .paypal:before {
  content: "";
  height: 1px;
  width: 260px;
  position: absolute;
  left: 15px;
  top: 0px;
  margin: 0;
  padding: 0;
  animation: shadow2 4s ease-in infinite;
  }
  
  .paypal:hover {
    transform: scale(1.1);
    opacity: .8;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

.paypallogo {
  width: 2rem;
  margin-right: 1rem;
}

.donate {
  margin-right: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 999;
}
.card-container {
  padding-left: .25rem;
  padding-right: .25rem;
  padding-top: .5rem;
}

.cards {
  width: 2rem;
}