.whoweserve {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.whoweserve-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 5rem;
  margin-top: 2rem;
  background-color: #2c2c30;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.serve-header {
  position: relative;
  text-align: center;
}
.trinity-address {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-wrapper {
  margin: 25px 75px;
  text-align: left;
  font-size: 1.1rem;
  letter-spacing: .02rem;
  font-family: 'Open Sans', sans-serif;
}

.text-break {
  text-align: center;
  font-weight: bold;
  margin: 25px 15px;
}

.text-list {
  margin-bottom: 75px;
}

.boldspan {
  font-weight: bold;
}