.sponsor-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left {
  margin: 2rem 1.5rem;
  width: 14rem;
  flex: 1;
}
.left-logo {
  margin: 2rem 0;
  width: 10rem;
  flex: 1;
}


.sponsor-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right {
  margin: 2rem 1.5rem;
  width: 14rem;
  flex: 1;
}


