.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-link {
  text-decoration: none;
}

.arrow {
  position: relative;
  display:block;
  height: 4rem;
  width: 14rem;
  margin: auto;
  padding: auto;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  border: 2px #E74098 solid;
  border-radius: 0.25rem;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  transition: all .2s ease-in-out;
}

.arrow:hover {
  color: whitesmoke;
  transform: scale(.98);
}

.arrow:before {
  content: "";
  position: absolute;
  background: #E74098;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.arrow:hover:before {
  top: 0;
}


