.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
}

.arrow-link {
  text-decoration: none;
}

.arrow {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  position: relative;
  height: 4.5rem;
  width: 14rem;
  margin: auto 2rem;
  margin-bottom: 2.5rem;
  padding: auto;
  font-size: 1.4rem;
  color: black;
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  overflow:hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  background: linear-gradient(to top, #e74098, #EAA5C2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow:after {
  content: "";
  height: 1px;
  width: 260px;
  position: absolute;
  left: 15px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  animation: shadow 4s ease-in infinite;
}

@keyframes shadow {
  0% {
    opacity: 0;
    transform: scaleX(1);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
  10% {
    opacity: 1;
    transform: scaleX(1);
    transform: translateX(50px);
    width: 210px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
  30% {
    opacity: 0;
    transform: scaleX(1);
    transform: translateX(260px);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  } 
  100% {
    opacity: 0;
    transform: scaleX(1);
    transform: translateX(260px);
    width: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  }
}

@keyframes shadow2 {
  0% {
  opacity: 0;
  transform: scaleX(1);
  width: 1px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}
  10% {
  opacity: 0;
  transform: scaleX(1);
  width: 1px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}
20% {
  opacity: 1;
  transform: scaleX(1);
  transform: translateX(50px);
  width: 210px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}
40% {
  opacity: 0;
  transform: scaleX(1);
  transform: translateX(50px);
  width: 210px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
}
100% {
  opacity: 0;
  transform: scaleX(1);
  transform: translateX(260px);
  width: 1px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
} 
}

.arrow:before {
content: "";
height: 1px;
width: 260px;
position: absolute;
left: 15px;
top: 0px;
margin: 0;
padding: 0;
animation: shadow2 4s ease-in infinite;
}

.arrow:hover {
  transform: scale(.98);
  opacity: .8;
}

.arrowlogo {
  width: 2.3rem;
  margin-right: 1rem;
}

.sponsor {
  margin-right: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
